<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="images" href="/public/img/"> 
    <title>Visibly+: A Shopping Resource for Plus-size Bodies</title>
</head>
<body>
    <div>
    <h1>Welcome to Visibly+</h1>
    <nav>
        <a href = '/shops/new'>Add a New Shop</a>
    </nav>
    </div>
    <div class = 'shop-content'>
        <ul>
            <% for (let i = 0; i < allShops.length; i++) { %>
                <li>
                    <%= allShops[i].name %> <br/>
                    <a href='/shops/<%i%>'>
                    <img src = '<%=allShops[i].img%>'style = 'max-width: 300px;'>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>