<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="images" href="/public/img/">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> 
    <title>Visibly+: A Shopping Resource for Plus-size Bodies</title>
</head>
<body>
    <header>
        <h1>Welcome to Visibly+</h1>
        <nav>
            <a href = '/shops/new'>Add a New Shop</a>
        </nav>
    </header>
    
    <div>
    <p class = 'shop-intro'>
        Despite the average size of an American woman being a size <a href ='https://www.byrdie.com/average-body-weight'>16 to 18</a>, the shopping experience is still frustrating to navigate for folks with larger bodies. Visibly+ is a resource that allows users to add and browse shops that sell stylish and trendy clothing in extended sizes. Want to see more shops? Add a shop at the link below.
    </p>
    </div>
    <div class = 'shop-content'>
        <ul>
            <% for (let i = 0; i < allShops.length; i++) { %>
                <li>
                    <%= allShops[i].name %> <br/>
                    <a href='/shops/<%= allShops[i].id%>'>
                    <img src = '<%=allShops[i].img%>'style = 'max-width: 300px;'>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>