<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Add a New Shop</title>
</head>
<body>
    <div class = 'container'>
        <header>
            <h1>Add a New Shop</h1>
            <nav>
                <a href='/shops'>Back to Homepage</a>
            </nav>
        </header>
    
    <form action ='/shops/' method='POST'>
        <div class = 'row'>
            <div class = 'four columns'>
                Name: <input type ='text' name= 'name'/>
            </div>
            <div class = 'four columns'>
                Description: <input type ='text' name = 'description'/>
            </div>
            <div class = 'four columns'>
                Image: <input type ='text' name ='img'/>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'four columns'>
                Black-owned: <input type ='checkbox' name='isBlackOwned'/>
            </div>
            <div class = 'four columns'>
                Sustainable: <input type = 'checkbox' name ='isSustainable'/>
            </div>
            <div class = 'four columns'>
                Small Business: <input type ='checkbox' name ='isSmallBusiness'/>
            </div>
        </div>
         <div class = 'row'>
                <div class = 'six colums'>
                    Location: <input type ='text' name ='location'/>
                </div>
                <div class = 'four colums'>
                    <input class ='button-primary' type = 'submit' name='' value ='Create a Shop'/>
                </div>
        </div>
            
        </div>
    </form>
    <br/>
    <a href ='/shops'>Back to Homepage</a>
    </div>
</body>
</html>